:root{
  --bg-primary: #13192A;
  --bg-primary-light: #161D31;
  --bg-container: #283046;
  --bg-wrapper:#000000;
  --bg-orange: rgba(255, 159, 67, 0.12);
  --bg-green: rgba(40, 199, 111, 0.12);
  --bg-red: rgba(234, 84, 85, 0.12);
  --bg-violet: rgba(39, 114, 8, 0.12);
  --border-input:#3B4253;
  --text-hover-tag: #828282;
  --text-primary: #B4B7BD;
  --text-white: #D0D2D6;
  --text-active: #9B51E0;
  --text-secondary: #676D7D;
  --text-red:#EA5455;
  --text-green:#28C76F;
  --text-orange:#FF9F43;
  --text-violet:#7367F0;
  --text-vilet__hover:#8479F5;
  --white: #FFFFFF;
  --text-yellow: #F2C94C;

}